@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body, html {
  background-image: url('../_media/cork-texture.jpeg');
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

legend {
  display: inline;
  margin-left: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  margin-top: -20px;
}

.loader {
  border: 4px solid white;
  border-top: 4px solid orange;
  border-bottom: 4px solid orange;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loadbutton {
  position: absolute;
  visibility: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 38px;
  margin-left: 60%;
  margin-right: 40%;
}

#wrapper-additional {
  display: flex;
  width: 555px;
}

#wrapper-address {
  width: 300px;
}

#wrapper-addon {
  margin-left: 80px;
  width: 450px;
}

#main-content {
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 1000px;
  height: 700px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 19px -2px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 5px 5px 19px -2px rgba(0, 0, 0, 0.58);
  box-shadow: 5px 5px 19px -2px rgba(0, 0, 0, 0.58);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  padding: 30px;
}

#logo-right {
  float: right;
  height: 75px;
  width: auto;
  margin-top: -40px;
  margin-right: -10px;
  z-index: 1000;
}

#label-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 250px;
  width: 250px;
  margin-bottom: -60px;
  margin-right: -60px;
}

#error {
  color: red;
  font-size: 0.9em;
  margin-left: 30px;
  visibility: hidden
}

.select {
  display: inline-block;
  height: 150px;
  width: 135px;
  margin-left: 30px;
  margin-bottom: 30px;
  border: solid 1px black;
  border-radius: 2px;
  padding-left: 15px;
  box-shadow: 1px 1px 4px #EBEBEB;
  -moz-box-shadow: 1px 1px 4px #EBEBEB;
  -webkit-box-shadow: 1px 1px 4px #EBEBEB;
}

option:checked:after {
  content: attr(title);
  background: orange;
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
  border: none;
}

.textinput {
  display: block;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 515px;
  font-size: 1em;
  height: 25px;
  border: solid 1px black;
  border-radius: 2px;
  padding-left: 15px;
  box-shadow: 1px 1px 4px #EBEBEB;
  -moz-box-shadow: 1px 1px 4px #EBEBEB;
  -webkit-box-shadow: 1px 1px 4px #EBEBEB;
}

.dateinput {
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 1em;
  width: 150px;
  height: 25px;
  border: solid 1px black;
  border-radius: 2px;
  padding-left: 15px;
  box-shadow: 1px 1px 4px #EBEBEB;
  -moz-box-shadow: 1px 1px 4px #EBEBEB;
  -webkit-box-shadow: 1px 1px 4px #EBEBEB;
}

.fileinput {
  margin-left: 30px;
  margin-bottom: 30px;
  width: 250px;
  height: 25px;
}

.checkbox {
  display: flex;
  height: 30px;
  width: 30px;
  vertical-align: top;
}

.required {
  color: red;
  margin: 2px;
}

.fit-height {
  margin-top: 20px;
}

.textarea {
  display: block;
  min-width: 514px;
  min-height: 150px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 1em;
  border: solid 1px black;
  border-radius: 2px;
  padding-left: 15px;
  box-shadow: 1px 1px 4px #EBEBEB;
  -moz-box-shadow: 1px 1px 4px #EBEBEB;
  -webkit-box-shadow: 1px 1px 4px #EBEBEB;
}

.textinput:focus {
  border: solid 1px orange;
  border-radius: 2px;
}

.button-submit {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 300px;
  font-size: 1.5em;
  height: 50px;
  background: orange;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle
}

.button-submit:hover {
  background: darkorange;
  cursor: pointer;
}

.number {
  background: orange;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 15px 15px 15px 0px;
}
