<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.slg.leoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_dark"
        android:label="@string/leoapp_app_name"
        android:roundIcon="@mipmap/app_dark"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".Startup"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent"/>
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
