<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.slgdev.leoapp">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/leo_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/leo_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.AuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/syncauthenticator" />
        </service>
        <service
            android:name=".service.ReceiveSyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".service.StubProvider"
            android:authorities="de.slgdev.leoapp"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".service.ReceiveService"
            android:description="@string/serviceDescription"
            android:exported="false" />
        <service
            android:name=".service.AlarmStartupService"
            android:exported="false" />

        <activity
            android:name=".Start"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PreferenceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name=".activity.NotificationPreferenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.slgdev.startseite.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name=".activity.InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.slgdev.messenger.activity.MessengerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slgdev.messenger.activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.slgdev.messenger.activity.AddGroupChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.slgdev.messenger.activity.ChatEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.slgdev.essensbons.activity.EssensbonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slgdev.stimmungsbarometer.activity.StimmungsbarometerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slgdev.stimmungsbarometer.activity.AbstimmActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
        <activity
            android:name="de.slgdev.klausurplan.activity.KlausurplanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slgdev.schwarzes_brett.activity.SchwarzesBrettActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slgdev.stundenplan.activity.StundenplanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slgdev.stundenplan.activity.StundenplanBildActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="de.slgdev.stundenplan.activity.AuswahlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slgdev.umfragen.activity.SurveyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slgdev.it_problem.activity.ITActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slgdev.umfragen.activity.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.slgdev.essensbons.intro.EssensbonIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slgdev.essensbons.activity.ScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ScanTheme" />

        <receiver android:name=".notification.NotificationBroadcastWrapper$KlausurplanReceiver" />
        <receiver android:name=".notification.NotificationBroadcastWrapper$FoodmarkReceiver" />
        <receiver android:name=".notification.NotificationBroadcastWrapper$StimmungsbarometerReceiver" />
        <receiver android:name=".notification.NotificationBroadcastWrapper$TimetableReceiver" />

        <activity android:name="de.slgdev.svBriefkasten.activity.BriefkastenActivity"></activity>
    </application>

</manifest>