<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.slg.leoapp">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/leo_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/leo_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".ReceiveService"
            android:description="@string/serviceDescription"
            android:exported="false" />
        <service
            android:name=".NotificationService"
            android:exported="false" />

        <activity
            android:name=".Start"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferenceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name=".NotificationPreferenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.slg.startseite.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slg.vertretung.WrapperSubstitutionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slg.startseite.InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.slg.messenger.MessengerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slg.messenger.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.slg.messenger.AddGroupChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.slg.messenger.ChatEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.slg.essensqr.EssensQRActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slg.stimmungsbarometer.StimmungsbarometerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slg.stimmungsbarometer.AbstimmActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
        <activity
            android:name="de.slg.klausurplan.KlausurplanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slg.schwarzes_brett.SchwarzesBrettActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />

        <activity
            android:name="de.slg.stundenplan.StundenplanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slg.stundenplan.StundenplanBildActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="de.slg.stundenplan.AuswahlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.slg.nachhilfe.NachhilfeboerseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivitiesTheme" />
        <activity
            android:name="de.slg.nachhilfe.Hinzufuegen"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.slg.nachhilfe.Verwalten"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.slg.leoview.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="de.slg.leoapp.ProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="de.slg.umfragen.SurveyActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>