<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.slg.leoapp.exams">

    <application>
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".ExamEditActivity"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>
