<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.slg.leoapp.exams">

    <application>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.ExamEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>
